@model ImportModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
<style>
    #apps {
        overflow: hidden;
    }
    #apps li {
        float: left;
        margin-right: 20px;
        width: 75px;
        height: 100px;
        margi-top: 10px;
    }
    #apps li * {
        display: block;
        width: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
    }
    p {
        line-height: 24px;
    }
    .trival {
        color: #666;
        padding-left: 36px;
    }
    em {
        color: #f80;
        padding: 0 4px;
    }
    #submit {
        margin: 0 auto;
        display: block;
        width: 156px;
        height: 52px;
        overflow: hidden;
        text-indent: -500px;
        background: transparent url(@Url.Content("~/content/images/guide/import-app-btn.png")) no-repeat -160px 0;
    }
    #submit:hover {
        background-position: -160px -52px;
    }
</style>
}
<h2>确认导入</h2>
<p>
@if (@Model.NotFound.Count > 0) {
@:根据你提供的购买记录，我们成功为您导入了<em>@Model.Apps.Count</em>个应用，但是有<em>@Model.NotFound.Count</em>个应用无法查找到，这可能是由于itunes提供的文件名称和App Store中的名称不同所致，请稍后<em>手工添加</em>以下应用：
}
else {
@:根据你提供的购买记录，我们成功为您导入了<em>@Model.Apps.Count</em>个应用。
}
</p>
@if (Model.NotFound.Count > 0) {
<p class="trival">@String.Join(", ", Model.NotFound)</p>
}
<p>请确认后完成导入：</p>
<form action="@Url.Action("SaveImport", "User")" method="post">
<ul id="apps">
    @foreach (AppBrief app in Model.Apps) {
    <li title="@app.Name">
        <img src="@app.IconUrl" alt="@app.Name" width="75" height="75" />
        <span>@app.Name</span>
        <input type="hidden" name="apps" value="@app.Id" />
    </li>
    }
</ul>
<div class="form-row-submit">
    <input id="submit" type="submit" class="form-submit" value="确认导入" />
</div>
</form>