@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
<link rel="stylesheet" href="@Url.Content("~/content/plain.css")" />
<style>
    #history {
        width: 900px;
        height: 400px;
        resize: none;
    }
    a:hover {
        text-decoration: underline;
    }
    #submit {
        background: transparent url(@Url.Content("~/content/images/guide/import-app-btn.png")) no-repeat;
    }
    #submit:hover {
        background-position: 0 -52px;
    }
</style>
}
<div id="form">
    <h2>导入消费历史</h2>
    @if (!String.IsNullOrEmpty(ViewBag.Message)) {
    <p class="notice">@ViewBag.Message</p>
    }
    <form action="@Url.Action("Import", "User")" method="post">
    <div class="form-row">
        <label for="history" class="title">请在此处粘贴<a href="@Url.Action("ImportGuide", "User")">上一步</a>中复制得到的内容：</label>
        <textarea id="history" name="history" cols="20" rows="10" autofocus="autofocus">@ViewBag.Value</textarea>
    </div>
    <div class="form-row-submit">
        <input id="submit" type="submit" class="form-submit" value="开始导入" />
    </div>
    </form>
    <script>
        $('#form>form').submit(function() {
            if (!$.trim($('#history').val())) {
                return false;
            }
        })
    </script>
</div>
