@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
<style>
h3 {
    padding: 24px 0 12px;
    border-bottom: 1px solid #c0c0c0;
}
#submit {
    background-position: -320px 0;
}
#submit:hover {
    background-position: -320px -52px;
}
</style>
<script src="@Url.Content("~/scripts/jquery.validate-1.8.1.js")"></script>
}
<div id="form">
    <h2>修改资料</h2>
    @if (@ViewBag.Message != null) {
    <p class="notice">@ViewBag.Message</p>
    }
    @if ((Model.Status & UserStatus.PasswordReset) == UserStatus.PasswordReset) {
    <p class="notice">你使用的是系统生成的密码，请及时修改，以免帐号被盗。</p>
    }
    <form action="@Url.Action("UpdateProfile", "User")" method="post" novalidate="novalidate">
    <h3>关注信息设置</h3>
    <div class="form-row">
        @Html.InputCheckBox("notifyOnWishPriceDrop", "当关注的应用降价时通知我", Model.NotifyOnWishPriceDrop)
    </div>
    <div class="form-row">
        @Html.InputCheckBox("notifyOnWishFree", "当关注的应用免费时通知我", Model.NotifyOnWishFree)
    </div>
    <div class="form-row">
        @Html.InputCheckBox("notifyOnWishUpdate", "当关注的应用版本更新时通知我", Model.NotifyOnWishUpdate)
    </div>
    <div class="form-row">
        @Html.InputCheckBox("notifyOnOwnedUpdate", "当已经购买的应用版本更新时通知我", Model.NotifyOnOwnedUpdate)
    </div>
    <div class="form-row">
        <span>仅显示(不影响搜索结果)：</span>
        @Html.InputRadioBox("language1000", "preferredLanguagePriority", 1000, "中文应用", Model.PreferredLanguagePriority == 1000)
        @Html.InputRadioBox("language100", "preferredLanguagePriority", 100, "中文和英文应用", Model.PreferredLanguagePriority == 100)
        @Html.InputRadioBox("language10", "preferredLanguagePriority", 10, "中文、英文、日文及韩文应用", Model.PreferredLanguagePriority == 10)
        @Html.InputRadioBox("language1", "preferredLanguagePriority", 1, "所有语言应用", Model.PreferredLanguagePriority == 1)
    </div>
    <h3>基本资料</h3>
    <div class="form-row">
        @Html.TitleLabel("description", "个人简介")
        <textarea id="description" name="description" rows="10" cols="30" class="text">@Model.Description</textarea>
    </div>
    <div class="form-row">
        @Html.TitleLabel("website", "个人站点")
        @Html.InputTextBox("website", Model.Website, 200)
    </div>
    <h3>修改密码(无需修改请留空)</h3>
    <div class="form-row">
        @Html.TitleLabel("oldPassword", "原密码")
        @Html.InputPassword("oldPassword")
        @Html.ValidationLabel("oldPassword", "请输入原密码以确认修改")
    </div>
    <div class="form-row">
        @Html.TitleLabel("newPassword", "新密码")
        @Html.InputPassword("newPassword")
        @Html.ValidationLabel("newPassword", "请输入新的密码")
    </div>
    <div class="form-row">
        @Html.TitleLabel("confirmPassword", "确认密码")
        @Html.InputPassword("confirmPassword", false)
        @Html.ValidationLabel("confirmPassword", "请再次输入密码进行确认")
    </div>
    <div class="form-row-submit">
        @Html.InputSubmit("修改资料")
    </div>
    </form>
</div>
