@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
<style>
#submit:hover {
    background-position: 0 -52px;
}
</style>
<script src="@Url.Content("~/scripts/jquery.validate-1.8.1.js")"></script>
}
<div id="form">
    <h2>注册PingApp</h2>
    <p>成功注册为PingApp的用户后，你可以在搜索、查看应用之外，同时享有[加入关注]和[已经拥有]功能，[加入关注]可以将希望购买的应用添加到关注列表中，根据您的设置，系统将在应用更新、降价、限时免费时通过电子邮件、站内信息等方式给予通知。</p>
    <p>此外，注册用户还可以在日后享有PingApp开发路线图中所描述的功能，如果用户选择“接收站点更新信息”，则可以通过电子邮件享受及时的新功能开通信息。</p>
    <p>注册PingApp用户，请仔细填写下表。</p>
    @if (@ViewBag.ErrorMessage != null) {
    <p class="notice">@ViewBag.ErrorMessage</p>
    }
    <form action="@Url.Action("Save", "User")" method="post" novalidate="novalidate">
    <div class="form-row">
        @Html.TitleLabel("email", "电子邮件")
        @Html.InputTextBox("email", Model.Email, 200, true)
        @Html.ValidationLabel("email", "电子邮件是登录的唯一凭证，也用于接收应用更新通知，请认真填写")
    </div>
    <div class="form-row">
        @Html.TitleLabel("username", "用户名")
        @Html.InputTextBox("username", Model.Username, 40)
        @Html.ValidationLabel("username", "用户名将作为在PingApp社区的昵称，且不可修改，请认真填写")
    </div>
    <div class="form-row">
        @Html.TitleLabel("password", "密码")
        @Html.InputPassword("password")
        @Html.ValidationLabel("password", "请输入足够安全的密码")
    </div>
    <div class="form-row">
        @Html.TitleLabel("confirmPassword", "再次输入")
        @Html.InputPassword("confirmPassword", false)
        @Html.ValidationLabel("confirmPassword", "请再次输入密码进行确认")
    </div>
    <div class="form-row-submit">
        @Html.InputSubmit("注册")
    </div>
    </form>
</div>
<script>
    var validMessages = {
        email: '该电子邮件可用',
        username: '该用户名可用',
        password: '请记住自己的密码',
        confirmPassword: '通过'
    };
    $('#form>form').validate({
        rules: {
            email: { required: true, email: true, maxlength: 200, remote: '@Url.Action("Email", "Validate")' },
            username: { required: true, maxlength: 40, remote: '@Url.Action("Username", "Validate")' },
            password: { required: true }
        },
        messages: {
            email: { required: '必须输入电子邮件', email: '请输入合法的电子邮件地址', maxlength: '不能超过200个字符', remote: '该电子邮件已经被使用' },
            username: { required: '必须填写用户名', maxlength: '不能超过40个字符', remote: '该用户名已经被使用' },
            password: { required: '必须填写密码' }
        },
        showErrors: function (map, list) {
            for (var i = 0; i < list.length; i++) {
                var error = list[i];
                $(error.element).next('label').removeClass().addClass('validation-error').text(error.message);
            }
            for (var i = 0; i < this.successList.length; i++) {
                var element = $(this.successList[i]);
                element.next('label').removeClass().addClass('validation-valid').text(validMessages[element.attr('id')]);
            }
        },
        onkeyup: false
    });
    $('#confirmPassword').rules('add', { required: true, equalTo: '#password', messages: { required: '请输入密码', equalTo: '密码不一致，请重新输入'} });
</script>
