@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
<style>
#submit {
    background-position: -480px 0;
}
#submit:hover {
    background-position: -480px -52px;
}
</style>
<script src="@Url.Content("~/scripts/jquery.validate-1.8.1.js")"></script>
}
<div id="form">
    <h2>重设密码</h2>
    <p>由于系统并不原文保存你的密码，因此无法帮你获取密码。如果你确认忘记了密码，可以在此由系统替你生成新的密码，并发送到你的邮箱中。</p>
    <form action="@Url.Action("ResetPassword", "User")" method="post" novalidate="novalidate">
    <div class="form-row">
        @Html.TitleLabel("email", "电子邮件")
        @Html.InputTextBox("email", maxLength : 200)
        @Html.ValidationLabel("email", "请输入注册时的电子邮件")
    </div>
    <div class="form-row-submit">
        @Html.InputSubmit("重设密码")
    </div>
    </form>
    <script>
        var validMessages = {
            email: '通过'
        };
        $('#form>form').validate({
            rules: {
                email: { required: true, email: true, maxlength: 200 }
            },
            messages: {
                email: { required: '必须输入电子邮件', email: '请输入合法的电子邮件地址', maxlength: '不能超过200个字符' },
            },
            showErrors: function (map, list) {
                for (var i = 0; i < list.length; i++) {
                    var error = list[i];
                    $(error.element).next('label').removeClass().addClass('validation-error').text(error.message);
                }
                for (var i = 0; i < this.successList.length; i++) {
                    var element = $(this.successList[i]);
                    element.next('label').removeClass().addClass('validation-valid').text(validMessages[element.attr('id')]);
                }
            },
            onkeyup: false
        });
    </script>
</div>
