@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
<style>
#submit {
    background-position: -160px 0;
}
#submit:hover {
    background-position: -160px -52px;
}
#forgotPassword {
    margin-left: 10px;
}
#forgotPassword:hover {
    color: #f80;
    text-decoration: underline;
}
</style>
<script src="@Url.Content("~/scripts/jquery.validate-1.8.1.js")"></script>
}
<div id="form">
    <h2>登录PingApp</h2>
    @if (@ViewBag.ErrorMessage != null) {
    <p class="notice">@ViewBag.ErrorMessage</p>
    }
    <form action="@Url.Action("Authenticate", "User")" method="post" novalidate="novalidate">
    <div class="form-row">
        @Html.TitleLabel("email", "电子邮件")
        @Html.InputTextBox("email", (string)ViewBag.Email, 200, true, 1)
        @Html.ValidationLabel("email", "请输入注册时的电子邮件")
    </div>
    <div class="form-row">
        @Html.TitleLabel("password", "密码")
        @Html.InputPassword("password", true, 2)
        @Html.ValidationLabel("password", "请输入注册时的密码")
        <a id="forgotPassword" href="@Url.Action("ResetPassword", "User")" tabindex="5">忘记密码?</a>
    </div>
    <div class="form-row">
        @Html.InputCheckBox("remember", "保持登录状态", (bool)ViewBag.Remember, 3)
    </div>
    <div class="form-row-submit">
        @Html.InputSubmit("登录", 4)
    </div>
    </form>
    <script>
        var validMessages = {
            email: '通过',
            password: '通过',
        };
        $('#form>form').validate({
            rules: {
                email: { required: true, email: true, maxlength: 200 },
                password: { required: true }
            },
            messages: {
                email: { required: '必须输入电子邮件', email: '请输入合法的电子邮件地址', maxlength: '不能超过200个字符' },
                password: { required: '必须填写密码' }
            },
            showErrors: function (map, list) {
                for (var i = 0; i < list.length; i++) {
                    var error = list[i];
                    $(error.element).next('label').removeClass().addClass('validation-error').text(error.message);
                }
                for (var i = 0; i < this.successList.length; i++) {
                    var element = $(this.successList[i]);
                    element.next('label').removeClass().addClass('validation-valid').text(validMessages[element.attr('id')]);
                }
            },
            onkeyup: false
        });
    </script>
</div>
