@model DetailModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
    <link rel="stylesheet" href="@Url.Content("~/content/detail.css")" />
}
<div id="main">
    <img id="icon" src="@Model.App.LargeIconUrl" width="90" height="90" alt="@Model.App.Brief.Name" />
    <div id="action">
        <a href="@Model.App.Brief.ViewUrl" target="_blank" id="buy">
            @if (Model.App.Brief.LastValidUpdate.IsPriceUpdate) {
            <span id="oldPrice">@Model.App.Brief.LastValidUpdate.OldValue</span>
            }
            <span id="price">@(@Model.App.Brief.Price == 0 ? "免费" : "$" + @Model.App.Brief.Price)</span>
            <span id="link">前往iTunes</span>
        </a>
        <span id="owned" @Html.Raw(Model.Owned ? "class=\"active\"" : String.Empty)>已经有了</span>
        <span id="wish" @Html.Raw(Model.InWish ? "class=\"active\"" : String.Empty)>加入关注</span>
    </div>
    <h2 title="@Model.App.Brief.Name">@Model.App.Brief.Name</h2>
    <div id="meta">
        <span id="rating">用户评分：@Html.AppRatingCount(Model.App.Brief)</span>
        <span id="version">版本：@Model.App.Brief.Version</span>
        <span id="size">文件大小：@Html.FileSize(Model.App.Brief.FileSize)</span>
        <span id="device">机型：@String.Join(", ", Model.App.Brief.SupportedDevices)</span>
        <div id="share">
            <span>分享到：</span>
            <a id="shareToSina" href="@Url.Share("tsina", Model.App)" target="_blank">新浪微博</a>
            <a id="shareToQQ" href="@Url.Share("tqq", Model.App)" target="_blank">腾讯微博</a>
            <a id="shareToQZone" href="@Url.Share("qzone", Model.App)" target="_blank">QQ空间</a>
        </div>
    </div>
    @if (!Model.App.Brief.IsActive) {
    <p class="notice">该应用已经下架，可能无法在App Store上购买。</p>
    }
    <section id="description">
        <h3>
            应用介绍
            @if (Model.App.Brief.LastValidUpdate.Type == AppUpdateType.PriceFree) {
            <em id="updateType" class="price-free">限时免费中</em>
            }
            else if (Model.App.Brief.LastValidUpdate.Type == AppUpdateType.PriceDecrease) {
            <em id="updateType" class="price-decrease">给力特价中</em>
            }
        </h3>
        <pre>@Model.App.Description</pre>
        <span class="toggler">更多</span>
    </section>
    @if (!String.IsNullOrEmpty(Model.App.ReleaseNotes)) {
    <section id="releaseNotes">
        <h3>最近更新</h3>
        <pre>@Model.App.ReleaseNotes</pre>
        <span class="toggler">更多</span>
    </section>
    }
    <section id="screenshots">
        @{
            bool hasIphone = Model.App.ScreenshotUrls.Length > 0;
            bool hasIpad = Model.App.IPadScreenshotUrls.Length > 0;
        }
        <h3>
            应用截图
            @if (hasIphone) {
                <a href="#iphoneScreenshots" class="fancy-link">iPhone</a>
            }
            @if (hasIpad) {
                <a href="#ipadScreenshots" class="fancy-link">iPad</a>
            }
        </h3>
        @if (@hasIphone) {
        <div id="iphoneScreenshots">
            <ul>
                @foreach (string src in @Model.App.ScreenshotUrls) {
                    <li>
                        <img src="@src" alt="@Model.App.Brief.Name" title="iPhone截图" /></li>
                }
            </ul>
        </div>
        }
        @if (@hasIpad) {
        <div id="ipadScreenshots" @Html.Raw(hasIphone ? "style=\"display: none;\"" : String.Empty)>
            <ul>
                @foreach (string src in @Model.App.IPadScreenshotUrls) {
                <li><img src="@src" alt="@Model.App.Brief.Name" title="iPad截图" /></li>
                }
            </ul>
        </div>
        }
    </section>
    <section id="updates">
    <h3>应用更新历史</h3>
    <ol>
    @foreach (AppUpdate update in Model.Updates) {
        <li>
            <span class="update-time">@update.Time.ToString("yyyy-MM-dd HH:mm")</span>
            <span class="update-description">@Html.UpdateDescrioption(update)</span>
            @Html.UpdateType(update.Type)
        </li>
    }
    </ol>
    </section>
    @if (Model.RelativeApps.Any()) {
    <section id="relativeApps">
        <h3>来自<em>@Model.App.Brief.Developer.Name</em>的其他应用<a href="@Url.ByDeveloper(Model.App.Brief.Developer.Id, 1)" class="fancy-link">查看全部</a></h3>
        <ul>
        @foreach (AppBrief app in Model.RelativeApps) {
            <li>
                <a href="@Url.Action("Detail", "Home", new { id=@app.Id })" title="点击查看应用">
                    <img src="@app.IconUrl" alt="@app.Name" width="75" height="75" />
                </a>
                <div>
                    <span>@app.Name</span>
                </div>
                <div>
                    <span>@app.PrimaryCategory.Name</span>
                    <span>@Html.AppDeviceType(app.DeviceType)</span>
                    <span>￥@app.Price</span>
                </div>
                <div>
                    <a href="@Url.Action("Detail", "Home", new { id = app.Id })" title="@app.Name">查看详情</a>
                    <a href="@app.ViewUrl" title="前往appstore" target="_blank">前往iTunes</a>
                </div>
            </li>
        }
        </ul>
    </section>
    }
</div>
@Html.Partial("Sidebar")
@{
    string deviceType = Model.App.Brief.DeviceType == DeviceType.Universal ? "通用" : Model.App.Brief.DeviceType.ToString().ToLower();
    string[] updateTypes = { "新近上架", "应用发掘", "应用发掘", "特价销售", "限时免费", "应用发掘", "应用发掘" };
    string updateType = updateTypes[(int)Model.App.Brief.LastValidUpdate.Type];
}
<script>
    $(function() {
        $('#share>a').mousedown(function() {
            var src = $(this);
            var url = src.attr('href');
            var image = $('#screenshots img:visible').attr('src') || '';
            src.attr('href', url.replace(/pic=.*$/, 'pic=' + encodeURIComponent(image)));
        });

        $('pre').each(function() {
            var src = $(this);
            var height = src.height();
            src.css('max-height', 'none');
            var actualHeight = src.height();
            src.css('max-height', '');
            if (actualHeight > height) {
                src.next('span').show().click(function() {
                    src.css('max-height', 'none');
                    $(this).remove();
                });
            }
        });
        $('#screenshots ul').each(function() {
            var container = $(this);
            var items = container.children();

            items.hide()
            items.first().show();

            var switcher = $('<div id="switcher"></div>').insertBefore(container);
            items.each(function(i) {
                var src = $(this);
                var button = $('<span />').html(i).appendTo(switcher);
                button.click(function() {
                    var target = $(this);
                    target.siblings().removeClass('active');
                    target.addClass('active');

                    items.hide();
                    src.show();

                    return false;
                });
                if (i === 0) {
                    button.addClass('active');
                }
            });
        });

        $('#screenshots>h3>a').click(function() {
            $('#screenshots>div').hide();
            $($(this).attr('href')).show();

            return false;
        });

        @if (User.Identity.IsAuthenticated) {
        <text>
        var requesting = false;
        $('#owned, #wish').click(function() {
            var src = $(this);
            if (requesting) {
                return;
            }
            requesting = true;
            // 从无到有
            if (!src.hasClass('active')) {
                var data = {
                    'app.id': '@Model.App.Id',
                    'status': src.attr('id') == 'owned' ? 'Owned' : 'InWish'
                };
                $.ajax({
                    url: '@Url.Action("Save", "Track")',
                    type: 'post',
                    data: data,
                    dataType: 'json',
                    complete: function() {
                        requesting = false;
                    },
                    success: function(result) {
                        if (typeof result === 'object') {
                            $('#action>span').removeClass('active');
                            switch (result.status) {
                                case 1:
                                    $('#wish').addClass('active');
                                    break;
                                case 2:
                                    $('#owned').addClass('active');
                                    break;
                            }
                        }
                    }
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("Delete", "Track")',
                    type: 'post',
                    data: { app: '@Model.App.Id' },
                    dataType: 'json',
                    complete: function() {
                        requesting = false;
                    },
                    success: function(result) {
                        if (result) {
                            $('#action>span').removeClass('active');
                        }
                    }
                });
            }

            return false;
        });
        </text>
        }
        else {
        <text>
        $('#owned, #wish').click(function() {
            location.href = '@Url.Action("SignIn", "User")';
        });
        </text>
        }
    });
</script>
