@model PingApp.Web.Models.Home.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
    <link rel="stylesheet" href="@Url.Content("~/content/home.css")" />
}
<div id="introduction">
    <h2>别漏掉你可能爱不释手的<strong>APP</strong></h2>
    <form class="form-mini">
        <p>PingApp每天实时跟踪几十万iOS APP，只需搜索/选中你的最爱，<br />程序就会时刻为你扫描它们降价/免费的动态，<br />一但发现目标，立刻发出Email通知！</p>
        <h3>还没有帐号？</h3>
        <div class="form-field">
            <label for="username" class="form-label">用户名：</label><input id="username" name="username" class="text" maxlength="20" />
        </div>
        <div class="form-field">
            <label for="email" class="form-label">Email：</label><input id="email" name="email" class="text" maxlength="200" />
        </div>
        <div class="form-field">
            <label for="password" class="form-label">密码：</label><input type="password" id="password" name="password" class="text" />
        </div>
        <div class="form-submit">
            <input type="submit" value="立即注册" />
        </div>
    </form>
</div>
<div class="content-section">
    <div id="priceDecreaseRecommendations">
        <header>
            <h3>降价超值推荐</h3>
            <div class="toolbar">
                <a href="###">全部</a>
                @CategoryDropdown()
            </div>
        </header>
        @AppGrid(Model.PriceDecreaseRecommendations)
    </div>
    <aside class="ad-slots">
        <div>广告 280x100</div>
        <div>广告 280x100</div>
        <div>广告 280x100</div>
    </aside>
</div>
<div class="content-section">
    <div id="priceFreeRecommendations">
        <header>
            <h3>限时免费精选</h3>
            <div class="toolbar">
                <a href="###">全部</a>
                @CategoryDropdown()
            </div>
        </header>
        @AppGrid(Model.PriceFreeRecommendations)
    </div>
    <aside class="ad-slots">
        <div>广告 280x100</div>
        <div>广告 280x100</div>
        <div>广告 280x100</div>
    </aside>
</div>

@helper AppGrid(ICollection<TrackingApp> apps) {
<ul class="app-grid">
    @foreach (TrackingApp item in apps) {
    <li>
        <img src="@item.App.IconUrl" width="50" height="50" alt="@item.App.Name" />
        <span class="app-name" title="@item.App.Name">@item.App.Name</span>
        <span class="old-price">￥@item.App.LastValidUpdate.OldValue</span>
        @if (@item.App.LastValidUpdate.Type == AppUpdateType.PriceDecrease) {
        <span class="new-price price-decrease">￥@item.App.LastValidUpdate.NewValue</span>
        }
        else {
        <span class="new-price price-free">FREE</span>
        }
    </li> 
	}
</ul>
}

@helper CategoryDropdown() {
<div class="dropdown">
    <span class="selected-value">分类</span>
    <ul>
        @foreach (Category category in Category.All) {
        <li><span data-category="@category.Alias">@category.Name</span></li>
        }
    </ul>
</div>
}