@model PagedQuery<AppBrief>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
<link rel="stylesheet" href="@Url.Content("~/content/list.css")" />
}

<div id="main">
    <h2>@ViewBag.Title</h2>
    @if (!Model.Result.Any()) {
    <p class="notice">该开发者还没有发布应用哦~</p>
    }
    else {
    @Html.Partial("AppList", Model.Result)
    <aside id="pager">
        @if (Model.HasNextPage) {
        <a href="@Url.ByDeveloper(((Developer)ViewBag.Developer).Id, Model.Page + 1)" class="fancy-link">下一页</a>
        }
        @if (Model.HasPreviousPage) {
        <a href="@Url.ByDeveloper(((Developer)ViewBag.Developer).Id, Model.Page - 1)" class="fancy-link">上一页</a>
        }
    </aside>
    }
</div>
@Html.Partial("Sidebar")
