@model TrackQuery
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
    <link rel="stylesheet" href="@Url.Content("~/content/list.css")" />
}
<div id="filter">
    <div id="filterDeviceType">
        <ul>
            <li>@Html.FilterLink(Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeDeviceType(DeviceType.IPhone)), Model.DeviceType == DeviceType.IPhone, "iPhone")</li>
            <li>@Html.FilterLink(Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeDeviceType(DeviceType.IPad)), Model.DeviceType == DeviceType.IPad, "iPad")</li>
            <li>@Html.FilterLink(Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeDeviceType(DeviceType.NotProvided)), Model.DeviceType == DeviceType.NotProvided, "全部机型")</li>
        </ul>
    </div>
    <div id="filterCategory">
        <select onchange="location.href = this.value;">
            <option value="@Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeCategory(null))">所有</option>
            @foreach (Category category in Category.All) {
            @Html.Option(Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeCategory(category.Alias)), category.Name, category.Alias == Model.Category)
            }
        </select>
    </div>
    <div id="filterOrder">
        <ul>
            <li><span class="title">排序：</span></li>
            <li>@Html.FilterSorter(Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeSort(AppSortType.Name)), Model.Sort == AppSortType.Name, "应用名称", Model.Order)</li>
            <li>@Html.FilterSorter(Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeSort(AppSortType.Update)), Model.Sort == AppSortType.Update, "更新日期", Model.Order)</li>
            <li>@Html.FilterSorter(Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeSort(AppSortType.Rating)), Model.Sort == AppSortType.Rating, "用户评分", Model.Order)</li>
            <li>@Html.FilterSorter(Url.TrackList((AppTrackStatus)ViewBag.Status, Model.ChangeSort(AppSortType.Price)), Model.Sort == AppSortType.Price, "应用价格", Model.Order)</li>
        </ul>
    </div>
</div>
<div id="main">
    <h2>@ViewBag.Title</h2>
    @Html.Partial("AppList", Model.Result.Select(t => t.App))
    <aside id="pager">
        @if (Model.HasNextPage) {
        <a href="@Url.TrackList((AppTrackStatus)ViewBag.Status, Model.NextPage())" class="fancy-link">下一页</a>
        }
        @if (Model.HasPreviousPage) {
        <a href="@Url.TrackList((AppTrackStatus)ViewBag.Status, Model.PreviousePage())" class="fancy-link">下一页</a>
        }
    </aside>
</div>
@Html.Partial("Sidebar")