@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
    <link rel="stylesheet" href="@Url.Content("~/content/plain.css")" />
    <style>
        h2 {
            margin-top: 10px;
        }
        p {
            margin-top: 20px;
        }
    </style>
}
<article>
    <h2>
        利用PingApp更省钱地享受iOS应用</h2>
    <section>
        <p>如果说iOS有什么东西远远胜过Android平台，我认为不是应用的数量，也不是应用的质量，而是Apple一手建立起来的，一个良好、稳定的应用市场环境。现在的App Store拥有超过30万的应用，其中收费应用占了大部分（约60%），这是任何一个市场都无法比拟的。没有良性的市场环境，就不会有用户愿意付费购买应用，就不可能出现如此之多的收费应用，虽然管中窥豹可见一斑，但仅仅这一数据，就足以说明App Store这一应用市场的环境的优秀。</p>
        <p>在这样良好的市场环境下，你是不是也有这样犹豫：不想越狱后使用破解应用来破坏这个市场，但又无力开销一个又一个“昂贵”的应用。看似平淡地0.99美元、1.99美元，计算了汇率之后，却是一笔又一笔“天文”数字，每一次点下“购买”都伴随着阵阵心痛和无奈。</p>
        <p>现在，有了PingApp，可以让你更加省钱、省力、省心地享受更多地iOS应用，此文将从PingApp的介绍开始，带你逐渐了解PingApp，了解这个应用能为你带来什么。</p>
    </section>
    <section>
        <h3>什么是PingApp</h3>
        <p>PingApp是国内第一家也是至今唯一一家iOS应用跟踪平台。PingApp拥有中国区App Store几乎所有应用的信息，数字正在接近并超过40万。</p>
        <p>除了应用的信息之外，PingApp还拥有自网站建立以来，所有应用的更新数据，包括了上架、版本更新、价格变动、限时免费、下架等一系列过程，无一例外地进行收录。</p>
        <p>这意味着，PingApp随时掌握着应用的最新信息，PingApp可以自动化地获取应用的降价、限时免费等信息，并且在第一时间通过各种方式通知用户。</p>
        <p>以下将介绍一些使用PingApp来节省iOS应用购买开支的方法。</p>
    </section>
    <section>
        <h3>限时免费及特价列表</h3>
        <p>PingApp提供一个非常全面而详细的限时免费应用列表，这包括了App Store中当前正在进行限时免费的所有应用：<a href="http://www.pingapp.net/pricefree">点击查看限时免费应用列表</a>。</p>
        <p><img src="@Url.Content("~/content/images/guide/usage-1.png")" alt="限时免费应用列表" /></p>
        <p>虽然全面的列表的代价是缺少了编辑的审核和推荐，但是在这里你可以挖掘到最最全面的信息，按照自己的喜好进行自由地选择。PingApp保证你绝对不会错过任何一个限时免费的应用。</p>
        <p>除了限时免费之外，PingApp还提供了特价销售的应用列表：<a href="http://www.pingapp.net/pricedecrease">点击查看特价销售应用列表</a>。</p>
        <p><img src="@Url.Content("~/content/images/guide/usage-2.png")" alt="特价销售应用列表" /></p>
        <p>特价销售的应用很好地平衡了限时免费的极端与正常购买的高开销，给予你更多的选择。有些应用是永远也不会限时免费的，比如GameLoft的游戏，但这些应用经常会以1.99美元甚至0.99美元的特价进行销售，这时候就可以果断入手，享受来自iOS的华丽应用。</p>
    </section>
    <section>
        <h3>应用价格动态</h3>
        <p>PingApp提供了每一个应用的更新历史，可以在应用的详情页面的下方看到。</p>
        <p><img src="@Url.Content("~/content/images/guide/usage-3.png")" alt="应用更新历史" /></p>
        <p>在购买应用前，可以先来PingApp看一看应用价格的历史波动，可以预估一下应用的价格走势，也许忍上一天两天，应用的价格立刻会有一个大跳水，甚至是限时免费也说不定哦。</p>
        <p>有些应用的定价相当变态，常常以短时间的高价格来赚取“黑心”钱，对于这种应用，可以看到历史价格波动，可以大大减少被骗的机率。</p>
        <p><img src="@Url.Content("~/content/images/guide/usage-4.png")" alt="价格大幅度波动" /></p>
        <p>另外，对于这种价格频繁波动的应用，则购买的时候一定要小心了，千万不要因为时间差而被赚取了大量的钱：</p>
        <p><img src="@Url.Content("~/content/images/guide/usage-5.png")" alt="价格频繁波动" /></p>
    </section>
    <section>
        <h3>应用关注</h3>
        <p>接下来是PingApp提供的服务中的重头戏--应用关注和更新推送功能。</p>
        <p>如果你喜欢一个应用，但它又收取高昂的费用，那么在PingApp上，只要注册成为会员，你就可以关注任何一个应用，只需点击每个应用旁边的“加入关注”标签即可。</p>
        <p><img src="@Url.Content("~/content/images/guide/usage-6.png")" alt="关注应用" /></p>
        <p>当关注一个应用后，PingApp会将这个应用的版本更新、特价、限时免费等信息通过电子邮件的方式推送给你。</p>
        <p><img src="@Url.Content("~/content/images/guide/usage-7.png")" alt="更新推送" /></p>
        <p>使用PingApp，就不用再每天去限时免费列表中翻找自己心仪已久的应用，也不用每天上iTunes看几眼应用的价格又不断得到失望的结果。只需轻轻一个点击，关注应用，PingApp全程为你监控，第一时间送达通知邮件，保证不会错过任何的特价和限免。</p>
    </section>
    <section>
        <h3>已购买应用列表</h3>
        <p>除了关注应用外，PingApp还允许你将应用加入到“已经购买”的列表中，只需要点击“加入关注”上方的“已经有了”标签即可轻松完成这个步骤。</p>
        <p>当你的iOS设备刷了机，或者购买了新一代的iPhone/iPad，怀念曾经没有通关的游戏，却又记不起应用的名字。甚至你可能连自己曾经有过怎么样有趣的应用都忘得一干二净，再也想不起用那些非常优秀的应用为你的生活为你的休闲而服务……</p>
        <p>如果你想找回你曾经下载过的应用，那么就必须去iTunes上找到自己的历史帐单，再从帐单中找到应用的名称，再去iTunes上搜索应用，再下载……多么麻烦啊。PingApp将会为你提供一个“已经购买的应用”列表，第一个应用都会带上前往iTunes的链接，一但拥有了新的设备，便可以来PingApps，看一看列表，找到喜欢的应用，方便快捷地购买。</p>
        <p>不仅如此，当你第一次完成注册时，PingApp还提供了便携的“购买历史导入”功能，以方便快捷地方式一次性导入现有的应用，而不需要一个一个费力地翻找。</p>
        <p><img src="@Url.Content("~/content/images/guide/usage-8.png")" alt="导入购买记录" /></p>
    </section>
    <section>
        <p>综合而言，PingApp的特色在于数据的全面性和应用的关注和信息推送功能，其目的在于将用户和站点的关系倒转过来，像iapps.im之类是用户主动去看有哪些应用，而PingApp希望做到如果用户关心应用，那么机器为人类服务，应用的更新、变更都主动地通知，解放出用户的时间和精力，让用户玩iOS玩得更轻松更爽快。</p>
    </section>
</article>