<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="iphone,ipad,游戏,app,应用,限时免费,iPhone限时免费,iPad限时免费,软件,ios,免费下载,限免,每日限免,关注降价,免费,正版,应用更新,AppStore,Store" />
    <meta name="description" content="PingApp是国内第一个也是唯一一个iOS应用跟踪平台，这里收录了中国区AppStore几乎所有的应用信息，你可以方便、快捷地进行筛选和查找。同时PingApp提供限时免费、降价、近期更新等应用列表，为iOS发烧友省时省力。在PingApp上，你还可以关注应用，PingApp会自动将应用的降价、免费、更新等信息通过邮件等形式通知你。" />
    <title>@ViewBag.Title - PingApp - iOS应用追踪平台</title>
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/scripts/jquery-1.5.1.min.js")"></script>
    <script src="@Url.Content("~/scripts/app.js")"></script>
    @RenderSection("MoreResource", false)
    <script>
        (function () {
            var elements = ['header', 'footer', 'aside', 'section', 'nav'];
            for (var i = 0; i < elements.length; i++) {
                document.createElement(elements[i]);
            }
        } ());
    </script>
</head>
<body>
    <div id="page">
        <header id="header">
            <h1>
                <a href="@Url.Action("Index", "Home")">PingApp</a></h1>
            <p style="position: absolute; top: 50px; right: 10px; color: #f00;">
                这是测试版哦亲~有问题请多多包含亲~~
            </p>
            <div id="summary">
                <p id="total">
                    PingApp现约有<em>@ViewBag.AppCount</em>个应用</p>
                <p id="update">
                    昨日新增应用<em>@ViewBag.NewAppCount</em>个 更新应用<em>@ViewBag.UpdatedAppCount</em>个 下架<em>@ViewBag.OffAppCount</em>个</p>
            </div>
            <nav id="siteLinks">
                <ul>
                    @if (@ViewBag.Username != null) {
                        <li><span id="welcome">欢迎 @ViewBag.UserName</span></li>
                        if ((ViewBag.User.Status & UserStatus.AppImported) != UserStatus.AppImported) {
                        <li><a href="@Url.Action("ImportGuide", "User")" class="fancy-link highlight">导入购买历史</a></li>
                        }
                        <li><a href="@Url.Action("Signout", "User")" class="fancy-link">退出</a></li>
                        <li><a href="@Url.Action("Profile", "User")" class="fancy-link">个人资料</a></li>
                        <li><a href="###" class="fancy-link">订阅</a></li>
                    }
                    else {
                        <li><a href="@Url.Action("Index", "Home")" class="fancy-link">首页</a></li>
                        <li><a href="@Url.Action("Signin", "User")" class="fancy-link">登录</a></li>
                        <li><a href="@Url.Action("Register", "User")" class="fancy-link">注册</a></li>
                        <li><a href="###" class="fancy-link">订阅</a></li>
                    }
                </ul>
            </nav>
        </header>
        <div id="content">
            <nav id="navigator">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")" @Html.Raw(ViewBag.Region == "Home" ? "class=\"active\"" : String.Empty)>最近更新</a></li>
                    <li><a href="@Url.Action("WishList", "Track")" @Html.Raw(ViewBag.Region == "WishList" ? "class=\"active\"" : String.Empty)>我的关注</a></li>
                    <li><a href="@Url.Action("OwnedList", "Track")" @Html.Raw(ViewBag.Region == "Owned" ? "class=\"active\"" : String.Empty)>我的应用</a></li>
                    <li><a href="@Url.Action("Site", "About")"@Html.Raw(ViewBag.Region == "About" ? "class=\"active\"" : String.Empty)>关于本站</a></li>
                </ul>
            </nav>
            <form id="search">
            <input id="keywords" name="search" @Html.Raw(ViewBag.Keywords == null ? String.Empty : "value=\"" + ViewBag.Keywords + "\"") />
            <input type="submit" id="doSearch" value="搜索" />
            </form>
            @RenderBody()
        </div>
        <footer>
            <p>
                Copyright PingApp.net @@ 2011</p>
        </footer>
    </div>
    @if (!ViewBag.IsDebug && (ViewBag.User == null || ViewBag.User.Id != 1)) {
    <script>
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff02c7829276b400ac148d8c1f4a6c2b3' type='text/javascript'%3E%3C/script%3E"));
    </script>
    }
</body>
</html>
