<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="iphone,ipad,游戏,app,应用,限时免费,iPhone限时免费,iPad限时免费,软件,ios,免费下载,限免,每日限免,关注降价,免费,正版,应用更新,AppStore,Store" />
    <meta name="description" content="PingApp是国内第一个也是唯一一个iOS应用跟踪平台，这里收录了中国区AppStore几乎所有的应用信息，你可以方便、快捷地进行筛选和查找。同时PingApp提供限时免费、降价、近期更新等应用列表，为iOS发烧友省时省力。在PingApp上，你还可以关注应用，PingApp会自动将应用的降价、免费、更新等信息通过邮件等形式通知你。" />
    <title>@ViewBag.Title - PingApp - iOS应用追踪平台</title>
    <link href="@Url.Content("~/content/layout.css")" rel="stylesheet" />
    @RenderSection("MoreResource", false)
    <script>
        (function() {
            var elements = ['header', 'footer', 'aside', 'section', 'nav'];
            for (var i = 0; i < elements.length; i++) {
                document.createElement(elements[i]);
            }
        }());
    </script>
</head>
<body>
    <div id="page">
        <header id="header">
            <h1><a href="@Url.Content("/")" title="返回首页">PingApp</a></h1>
        </header>
        <nav id="navigation">
            <ul>
                <li class="current"><a href="@Url.Content("/")">首页</a></li>
                <li><a href="@Url.Content("/")">今日限时免费</a></li>
                <li><a href="@Url.Content("/")">我的应用</a></li>
            </ul>
            <form id="search" action="" method="get">
                <input type="search" placeholder="输入应用名" />
                <button>搜索</button>
            </form>
        </nav>
        @RenderBody()
        <div id="sidebar">
        </div>
        <footer id="footer">
            <nav>
                <div>
                    <h3>直达导航</h3>
                    <ul>
                        <li><a href="###">今日限时免费</a></li>
                        <li><a href="###">今日降价促销</a></li>
                        <li><a href="###" class="important">今日限时免费</a></li>
                        <li><a href="###" class="important">今日降价促销</a></li>
                    </ul>
                </div>
                <div>
                    <h3>站内资源</h3>
                    <ul>
                        <li><a href="###">首页RSS</a></li>
                        <li><a href="###">最近更新RSS</a></li>
                        <li><a href="###" class="important">近期降价RSS</a></li>
                        <li><a href="###" class="important">近期免费RSS</a></li>
                    </ul>
                </div>
                <div>
                    <h3>信息与帮助</h3>
                    <ul>
                        <li><a href="###">PingApp介绍</a></li>
                        <li><a href="###">使用PingApp</a></li>
                        <li><a href="###">PingApp进化路线图</a></li>
                        <li><a href="###">关于作者</a></li>
                    </ul>
                </div>
                <div>
                    <h3>友情链接</h3>
                    <ul>
                        <li><a href="http://www.photonvps.com/billing/aff.php?aff=1980">PhotonVPS</a></li>
                        <li><a href="http://eggao.net/">恶搞网</a></li>
                    </ul>
                </div>
            </nav>
        </footer>
    </div>
</body>
</html>
