@model IEnumerable<AppBrief>
@helper ClassName(AppBrief app, AppTrackStatus status) {
    Dictionary<int, AppTrack> tracks = ViewBag.Tracks;
    string baseClass = status == AppTrackStatus.InWish ? "app-wish" : "app-owned";
    if (tracks.ContainsKey(app.Id) && tracks[app.Id].Status == status) {
        @Html.Raw("class=\"" + baseClass + " app-action-active\"")
    }
    else {
        @Html.Raw("class=\"" + baseClass + "\"")
    }
}
<ol>
    @foreach (AppBrief app in @Model) {
    <li id="@("app" + app.Id)" class="app-brief">
        <a class="app-icon" href="@Url.Action("Detail", "Home", new { id=@app.Id })" title="点击查看应用">
            <img src="@app.IconUrl" width="75" height="75" alt="@app.Name" onerror="this.src = '@Url.Content("~/content/images/default-icon.png")';" />
            <span>@app.PrimaryCategory.Name</span>
            @if (ViewBag.Top100.Contains(app.Id)) {
            <em>热门应用</em>
            }
        </a>
        <div class="app-action">
            <a href="@app.ViewUrl" target="_blank" class="app-buy">
                @if (app.LastValidUpdate.IsPriceUpdate) {
                <span class="app-old-price">@app.LastValidUpdate.OldValue</span>
                }
                <span class="app-price">@(@app.Price == 0 ? "免费" : "￥" + @app.Price)</span>
                <span class="app-link">前往iTunes</span>
            </a>
            <span id="@("owned" + app.Id)" @ClassName(app, AppTrackStatus.Owned)>已经有了</span>
            <span id="@("wish" + app.Id)" @ClassName(app, AppTrackStatus.InWish)>加入关注</span>
        </div>
        <h3 class="app-name">
            <a href="@Url.Action("Detail", "Home", new { id = app.Id })" class="title" title="@app.Name">@app.Name</a>
            @Html.UpdateType(app.LastValidUpdate.Type)
        </h3>
        <div class="app-meta">
            <span class="app-type">更新时间：@Html.PrettyDate(app.LastValidUpdate.Time)</span>
            <span class="app-rating">用户评分：@Html.AppRatingCount(app)</span>
            <span class="app-version">版本：@app.Version</span>
            <span class="app-device">@Html.AppDeviceType(@app.DeviceType)</span>
        </div>
        <p class="app-introduction">
            @((app.LastValidUpdate.Type == AppUpdateType.NewRelease ? app.ReleaseNotes : app.Introduction).Replace('\n', ' '))
        </p>
    </li>
    }
</ol>
<script>
    $(function() {
        @if (User.Identity.IsAuthenticated) {
        <text>
        $('.app-owned, .app-wish').click(function() {
            var src = $(this);
            var container = src.closest('li');
            if (container.data('requesting')) {
                return;
            }
            container.data('requesting', true);
            // 从无到有
            if (!src.hasClass('app-action-active')) {
                var data = {
                    'app.id': container.attr('id').substring(3),
                    'status': src.hasClass('app-owned') ? 'Owned' : 'InWish'
                };
                $.ajax({
                    url: '@Url.Action("Save", "Track")',
                    type: 'post',
                    data: data,
                    dataType: 'json',
                    complete: function() { 
                        container.data('requesting', false);
                    },
                    success: function(result) {
                        if (typeof result === 'object') {
                            container.find('.app-action>span').removeClass('app-action-active');
                            switch (result.status) {
                                case 1:
                                    $('#wish' + result.app).addClass('app-action-active');
                                    break;
                                case 2:
                                    $('#owned' + result.app).addClass('app-action-active');
                                    break;
                            }
                        }
                    }
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("Delete", "Track")',
                    type: 'post',
                    data: { app: container.attr('id').substring(3) },
                    dataType: 'json',
                    complete: function() { 
                        container.data('requesting', false);
                    },
                    success: function(result) {
                        if (result) {
                            container.find('.app-action>span').removeClass('app-action-active');
                        }
                    }
                });
            }

            return false;
        });
        </text>
        }
        else {
        <text>
        $('.app-owned, .app-wish').click(function() {
            location.href = '@Url.Action("SignIn", "User")';
        });
        </text>
        }
    });
</script>
